# coding: utf-8

"""
    设备开放API

    worth open api  # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from worth.api_client import ApiClient
from worth.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class AuthenticatorApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def gen_token(self, access_key, secret_key, **kwargs):  # noqa: E501
        """生成token  # noqa: E501

        生成token  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.gen_token(access_key, secret_key, async_req=True)
        >>> result = thread.get()

        :param access_key: access_key (required)
        :type access_key: str
        :param secret_key: secret_key (required)
        :type secret_key: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: GenTokenResponse
        """
        kwargs['_return_http_data_only'] = True
        return self.gen_token_with_http_info(access_key, secret_key, **kwargs)  # noqa: E501

    def gen_token_with_http_info(self, access_key, secret_key, **kwargs):  # noqa: E501
        """生成token  # noqa: E501

        生成token  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.gen_token_with_http_info(access_key, secret_key, async_req=True)
        >>> result = thread.get()

        :param access_key: access_key (required)
        :type access_key: str
        :param secret_key: secret_key (required)
        :type secret_key: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _return_http_data_only: response data without head status code
                                       and headers
        :type _return_http_data_only: bool, optional
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :type _preload_content: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(GenTokenResponse, status_code(int), headers(HTTPHeaderDict))
        """

        local_var_params = locals()

        all_params = [
            'access_key',
            'secret_key'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method gen_token" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'access_key' is set
        if self.api_client.client_side_validation and ('access_key' not in local_var_params or  # noqa: E501
                                                        local_var_params['access_key'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `access_key` when calling `gen_token`")  # noqa: E501
        # verify the required parameter 'secret_key' is set
        if self.api_client.client_side_validation and ('secret_key' not in local_var_params or  # noqa: E501
                                                        local_var_params['secret_key'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `secret_key` when calling `gen_token`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'access_key' in local_var_params:
            path_params['access_key'] = local_var_params['access_key']  # noqa: E501
        if 'secret_key' in local_var_params:
            path_params['secret_key'] = local_var_params['secret_key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/authenticator/{access_key}/{secret_key}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GenTokenResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats,
            _request_auth=local_var_params.get('_request_auth'))
